--- 
layout: default 
---
<div class="row">
  <div class="col-md-9">
    <div class="list-group">
      {% for post in site.posts %} {% assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M:%S" %}
      <a href="{{ post.url | relative_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ post.title | escape }}</h5>
          <small>{{ post.date | date: date_format }}</small>
        </div>脚本娃娃-桃花岛
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" width="100%" src="assets/img/1501835785816.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">脚本娃娃-桃花岛</h4>
        <p class="card-text">这是最大的一个群。</p>
      </div>
    </div>
    <div class="list-group" style="width: 20rem;margin-top: 15px;">
      <a href="https://github.com/damoqiongqiu" class="list-group-item" target="_blank">GitHub</a>
      <a href="http://git.oschina.net/mumu-osc/NiceFish" class="list-group-item" target="_blank">码云</a>
      <a href="https://zhuanlan.zhihu.com/damoqiongqiu" class="list-group-item" target="_blank">知乎专栏</a>
      <a href="http://weibo.com/damoqiongqiu" class="list-group-item" target="_blank">微博</a>
    </div>
  </div>
</div>