--- 
layout: default 
---
<div class="row">
  <div class="col-sm-9">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h3 class="post-title" itemprop="name headline">{{ page.title | escape }}</h3>
          <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {% assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M:%S" %} {{ page.date | date: date_format }}
            </time>
            {% if page.author %}  
              <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}</p>
        </header>
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
        <div class="pagination">
            <ul>
              {% if page.previous %}
                <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; 上一篇: {{ page.previous.title }}</a></li>
              {% else %}
                <li class="prev disabled"><a>&laquo; 上一篇: 无</a></li>
              {% endif %}
              {% if page.next %}
                <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇:{{ page.next.title }} &raquo;</a></li>
              {% else %}
                <li class="next disabled"><a>下一篇: 无 &raquo;</a>
              {% endif %}
            </ul>
        </div>
        {% if site.disqus.shortname %}
          {% include disqus_comments.html %} 
        {% endif %}
      </article>
  </div>
  <div class="col-sm-3">
  </div>
</div>